.deps
.libs
Makefile
Makefile.in
*.la
*.lo
*.o
aclocal.m4
autom4te.cache/
config.guess
config.sub
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.swp
*.in

*.cmd
*.mod.c
*.symvers
*.order
*.ko*
.tmp_versions/

bin/nv_*
!bin/nv_*.c
!bin/nv_*.h
